tuan1112.json
[{"id":"e01126c5a1cf812f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7508f4cba40e323f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#285567","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0055ff","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#00a887","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#007ef5","value":"#00a887","edited":true},"page-titlebar-backgroundColor":{"value":"#00a887","edited":false},"page-backgroundColor":{"value":"#bfbfbf","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#ebf4ff","edited":true},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#ffffff","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Nhóm 1 IOT - GVHD: Phạm Quang Trí","hideToolbar":"false","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9e5a232eece7a0bd","type":"mqtt-broker","name":"data web","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"CRUxLxkhLQsMADEvHQgfDBY","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"132c319e2af0d406","type":"ui_tab","name":"Hide_Show","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"d80fe19219623313","type":"ui_group","name":"Function","tab":"132c319e2af0d406","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"367c0f265b458cdb","type":"ui_group","name":"Settings","tab":"a2490d0e.a872b","order":2,"disp":true,"width":"7","collapse":false,"className":""},{"id":"1c39b7dfdecbe36d","type":"ui_group","name":"Data Charts","tab":"132c319e2af0d406","order":6,"disp":true,"width":"7","collapse":true,"className":""},{"id":"72e75fbdb2b28928","type":"ui_group","name":"Recent Data","tab":"132c319e2af0d406","order":5,"disp":true,"width":"7","collapse":false,"className":""},{"id":"0bfacdce3d0a7ee9","type":"mqtt-broker","name":"dht11","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"BwgBJgUbGAIDJBwhLgAGOR8","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e9d05cee4f95c26b","type":"ui_group","name":"Digital Clock","tab":"132c319e2af0d406","order":3,"disp":true,"width":"7","collapse":false,"className":""},{"id":"339d0edc.4ffe02","type":"ui_group","name":"Chart 1","tab":"64b18fc657f5c450","order":1,"disp":true,"width":"7","collapse":true,"className":""},{"id":"a2490d0e.a872b","type":"ui_tab","d":true,"name":"Homey Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"29a0fde6d09e27cb","type":"ui_group","name":"Fet","tab":"132c319e2af0d406","order":1,"disp":false,"width":"14","collapse":false,"className":""},{"id":"b2702a3b4cb49586","type":"ui_spacer","z":"e01126c5a1cf812f","name":"spacer","group":"29a0fde6d09e27cb","order":3,"width":4,"height":1},{"id":"339dfe78df933454","type":"ui_spacer","z":"e01126c5a1cf812f","name":"spacer","group":"29a0fde6d09e27cb","order":4,"width":4,"height":1},{"id":"3562397814a32508","type":"ui_spacer","z":"e01126c5a1cf812f","name":"spacer","group":"367c0f265b458cdb","order":6,"width":1,"height":1},{"id":"89e1cc2b87e3ee6f","type":"ui_spacer","z":"e01126c5a1cf812f","name":"spacer","group":"367c0f265b458cdb","order":7,"width":1,"height":1},{"id":"faaa8a6bee6ce33f","type":"mqtt-broker","name":"emqx phihung","broker":"192.168.1.234","port":"1883","clientid":"phi","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"64b18fc657f5c450","type":"ui_tab","name":"Graph","icon":"show_chart","disabled":false,"hidden":false},{"id":"77c1e7b2293abe61","type":"ui_group","name":"Chart 2","tab":"64b18fc657f5c450","order":2,"disp":true,"width":"7","collapse":true,"className":""},{"id":"a6780283d80d4e90","type":"ui_chart","z":"e01126c5a1cf812f","name":"TEMP","group":"1c39b7dfdecbe36d","order":1,"width":0,"height":0,"label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":280,"wires":[[]]},{"id":"93da202b6a246ea6","type":"debug","z":"e01126c5a1cf812f","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":400,"wires":[]},{"id":"c9323af9ee3ab7a6","type":"ui_switch","z":"e01126c5a1cf812f","d":true,"name":"","label":"Auto Mode","tooltip":"","group":"367c0f265b458cdb","order":2,"width":7,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"field1=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"field1=0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":210,"y":160,"wires":[["bcf1052852e27969"]]},{"id":"bcf1052852e27969","type":"switch","z":"e01126c5a1cf812f","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"field1=1","vt":"str"},{"t":"eq","v":"field1=0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":160,"wires":[["913b013017a653d5"],["33bf51fad8c3c594"]]},{"id":"33bf51fad8c3c594","type":"change","z":"e01126c5a1cf812f","d":true,"name":"show","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Hide_Show_Function\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["27452e3c9584ef81"]]},{"id":"27452e3c9584ef81","type":"ui_ui_control","z":"e01126c5a1cf812f","d":true,"name":"","events":"all","x":740,"y":160,"wires":[[]]},{"id":"913b013017a653d5","type":"change","z":"e01126c5a1cf812f","d":true,"name":"hide","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Hide_Show_Function\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["27452e3c9584ef81"]]},{"id":"93b0399e23a62a2a","type":"ui_chart","z":"e01126c5a1cf812f","name":"HUMI","group":"1c39b7dfdecbe36d","order":2,"width":0,"height":0,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":340,"wires":[[]]},{"id":"21e459cff82ce45b","type":"ui_gauge","z":"e01126c5a1cf812f","name":"Nhiệt độ","group":"72e75fbdb2b28928","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"31","seg2":"37","diff":false,"className":"","x":500,"y":240,"wires":[]},{"id":"e8137f852e8a91c0","type":"ui_gauge","z":"e01126c5a1cf812f","name":"Độ ẩm","group":"72e75fbdb2b28928","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0fb80f","#e6e600","#ca3838"],"seg1":"60","seg2":"90","diff":false,"className":"","x":490,"y":320,"wires":[]},{"id":"0a2cc327a01fbd04","type":"ui_switch","z":"e01126c5a1cf812f","name":"Led1","label":"Led1","tooltip":"","group":"d80fe19219623313","order":7,"width":2,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"wb_incandescent","oncolor":"orange","offvalue":"0","offvalueType":"num","officon":"wb_incandescent","offcolor":"grey","animate":true,"className":"","x":490,"y":460,"wires":[[]]},{"id":"f8483705b9d1e3c0","type":"mqtt in","z":"e01126c5a1cf812f","name":"Server web","topic":"channels/2250527/subscribe/fields/field1","qos":"2","datatype":"auto-detect","broker":"9e5a232eece7a0bd","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":460,"wires":[["0a2cc327a01fbd04"]]},{"id":"dff35757c8716fa0","type":"mqtt in","z":"e01126c5a1cf812f","name":"Server web","topic":"channels/2250527/subscribe/fields/field2","qos":"2","datatype":"auto-detect","broker":"9e5a232eece7a0bd","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":500,"wires":[["e68dfbb9f9badf12"]]},{"id":"fa952e2da4f96446","type":"mqtt in","z":"e01126c5a1cf812f","name":"Temp server dht11","topic":"channels/2267553/subscribe/fields/field2","qos":"2","datatype":"auto-detect","broker":"0bfacdce3d0a7ee9","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":280,"wires":[["a6780283d80d4e90","93da202b6a246ea6","21e459cff82ce45b"]]},{"id":"31f0204c155cfdca","type":"mqtt in","z":"e01126c5a1cf812f","name":"Humi server dht11","topic":"channels/2267553/subscribe/fields/field1","qos":"2","datatype":"auto-detect","broker":"0bfacdce3d0a7ee9","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":340,"wires":[["93da202b6a246ea6","93b0399e23a62a2a","e8137f852e8a91c0"]]},{"id":"2605653064afbd09","type":"ui_digital_clock","z":"e01126c5a1cf812f","name":"Đồng hồ","group":"e9d05cee4f95c26b","order":1,"width":7,"height":2,"x":740,"y":80,"wires":[]},{"id":"03459187bd9891f0","type":"inject","z":"e01126c5a1cf812f","name":"Thời gian","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"image","v":"","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":550,"y":80,"wires":[["2605653064afbd09"]]},{"id":"d81aa8bc.35b81","type":"ui_template","z":"e01126c5a1cf812f","group":"339d0edc.4ffe02","name":"Node-Red Dashboard Custom CSS","order":1,"width":0,"height":0,"format":"<style>\n    root,\n    a,\n    button,\n    p,\n    div {\n        -webkit-user-select: none !important;\n    }\n\n    body {\n        background: -webkit-linear-gradient(55deg,\n                #009785 0%,\n                #245aa5 50%,\n                #8305a5 100%);\n        -webkit-touch-callout: none !important;\n    }\n\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF;\n    }\n\n    ui-card-panel {\n        background-color: rgba(255, 255, 255, 0.1) !important;\n        border-radius: 10px !important;\n    }\n\n    #Homey_Dashboard_Navigation {\n        background-color: transparent !important;\n        border-radius: 10px !important;\n    }\n\n    .md-card.md-default-theme,\n    md-card {\n        border-radius: 10px;\n    }\n\n    .nr-dashboard-switch.ng-scope {\n        background-color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n    .nr-dashboard-switch.ng-scope:hover {\n        background-color: #00ff00 !important;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n        background-color: rgba(16, 255, 0, 0.5);\n    }\n\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255, 255, 255, 0.4);\n        border-radius: 10px;\n        /* Add border radius to buttons */\n    }\n\n    .md-button {\n        border-radius: 10px;\n    }\n\n    .nr-dashboard-cardpanel layout-column {\n        background-color: rgba(255, 255, 255, 0.2) !important;\n        border-radius: 10px !important;\n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        border: none;\n    }\n\n    .nr-dashboard-template {\n        overflow-y: visible;\n    }\n\n    .nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n    }\n\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5);\n    }\n    .md-raised.nr-dashboard-form-button.md-button.md-ink-ripple {\n        background-color: #00ff00 !important; /* Thay đổi màu nền của nút thành màu xanh lá */\n        color: #000000 !important; /* Thay đổi màu chữ trắng */\n    }\n\n</style>\n\n<script>\n    document.ontouchmove = function (e) {\n        e.preventDefault();\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":740,"y":460,"wires":[[]]},{"id":"f43c9548f560d701","type":"ui_template","z":"e01126c5a1cf812f","group":"367c0f265b458cdb","name":"Style","order":8,"width":0,"height":0,"format":"<style>\n    ui-card-panel{\n        box-shadow:rgba(0,0,0,0.35) 0px 5px 15px;\n        border-radius: 10px;\n        font-size: 20px;\n    }\n    .value {\n    color: #ffffff;\n    }\n    h1 {\n    color: red; \n    }\n    .custom-button {\n        background-color: blue;\n        /* Đổi màu nền của button thành màu blue */\n        color: black;\n     \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":650,"y":500,"wires":[[]]},{"id":"b2f430aecaf3ca0f","type":"ui_media","z":"e01126c5a1cf812f","group":"29a0fde6d09e27cb","name":"FET IUH","width":2,"height":2,"order":1,"category":"fet","file":"fet1.png","layout":"center","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":200,"y":40,"wires":[[]]},{"id":"f32514ae6b30a830","type":"ui_text","z":"e01126c5a1cf812f","group":"29a0fde6d09e27cb","order":2,"width":8,"height":2,"name":"","label":"Điều khiển các thiết bị IOT","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","fontSize":"30","color":"#ffffff","x":260,"y":80,"wires":[]},{"id":"0ea5365d698d1d8c","type":"ui_switch","z":"e01126c5a1cf812f","name":"","label":"Led1","tooltip":"","group":"d80fe19219623313","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"field1=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"field1=0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":580,"wires":[["5225d1db41300596","c5948703ce52d036"]]},{"id":"1798f8ff0a40e0df","type":"ui_switch","z":"e01126c5a1cf812f","name":"","label":"Led2","tooltip":"","group":"d80fe19219623313","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"field2=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"field2=0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":640,"wires":[["5225d1db41300596","c5948703ce52d036"]]},{"id":"e68dfbb9f9badf12","type":"ui_switch","z":"e01126c5a1cf812f","name":"Led2","label":"Led2","tooltip":"","group":"d80fe19219623313","order":8,"width":2,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"wb_incandescent","oncolor":"orange","offvalue":"0","offvalueType":"num","officon":"wb_incandescent","offcolor":"grey","animate":true,"className":"","x":490,"y":500,"wires":[[]]},{"id":"5225d1db41300596","type":"debug","z":"e01126c5a1cf812f","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":660,"wires":[]},{"id":"c5948703ce52d036","type":"mqtt out","z":"e01126c5a1cf812f","name":"Data web","topic":"channels/2250527/publish","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9e5a232eece7a0bd","x":660,"y":580,"wires":[]},{"id":"c5dbedd36cb0edf1","type":"ui_switch","z":"e01126c5a1cf812f","name":"SW1","label":"Lamp","tooltip":"","group":"d80fe19219623313","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"field11\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"field11\":0}","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":820,"wires":[["3c3de826ddf090e2","80b87dfbee448b2a"]]},{"id":"3c3de826ddf090e2","type":"debug","z":"e01126c5a1cf812f","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":860,"wires":[]},{"id":"30cb31a7cd09285f","type":"ui_slider","z":"e01126c5a1cf812f","name":"Servo","label":"Servo","tooltip":"","group":"d80fe19219623313","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"360","step":"90","className":"","x":190,"y":700,"wires":[["93a2c19f929a6611"]]},{"id":"93a2c19f929a6611","type":"change","z":"e01126c5a1cf812f","name":"Đổi số -> string","rules":[{"t":"change","p":"payload","pt":"msg","from":"90","fromt":"num","to":"field3=90","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"180","fromt":"num","to":"field3=180","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"270","fromt":"num","to":"field3=270","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"360","fromt":"num","to":"field3=360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["c5948703ce52d036","5225d1db41300596"]]},{"id":"7edb9eaa15ea3aa3","type":"ui_switch","z":"e01126c5a1cf812f","name":"SW2","label":"Siren","tooltip":"","group":"d80fe19219623313","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"{\"field12\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"field12\":0}","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":880,"wires":[["3c3de826ddf090e2","80b87dfbee448b2a"]]},{"id":"80b87dfbee448b2a","type":"mqtt out","z":"e01126c5a1cf812f","name":"emqx","topic":"lora","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"faaa8a6bee6ce33f","x":510,"y":760,"wires":[]},{"id":"f955a9f05a83cbcf","type":"ui_form","z":"e01126c5a1cf812f","name":"","label":"LCD","group":"d80fe19219623313","order":1,"width":0,"height":0,"options":[{"label":"Display LCD","value":"field9","type":"text","required":true,"rows":null}],"formValue":{"field9":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":190,"y":760,"wires":[["80b87dfbee448b2a"]]},{"id":"6efe5eaa49140fdf","type":"ui_chart","z":"e01126c5a1cf812f","name":"Led 1","group":"339d0edc.4ffe02","order":1,"width":0,"height":0,"label":"Led 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":960,"wires":[[]]},{"id":"03f2ba580c8af769","type":"http request","z":"e01126c5a1cf812f","name":"field1","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field1","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":960,"wires":[["6efe5eaa49140fdf"]]},{"id":"a2c2583573c710a1","type":"inject","z":"e01126c5a1cf812f","name":"Thời gian","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":210,"y":1160,"wires":[["03f2ba580c8af769","df77a4162b745929","ad76d9a31efc16d0","dba8ba0ea8992e8a","af3f7a0586fa7964","a07d36fbed802ced","69494e65b7d4bc05","272a6e5445c9f20f","f21f2be1e227dfa4","d069c63ec28437c4","f6bbf5c9a9c2559c","0ee4b50eeba286ea"]]},{"id":"f4372439c9471fd0","type":"ui_chart","z":"e01126c5a1cf812f","name":"Led 2","group":"339d0edc.4ffe02","order":1,"width":0,"height":0,"label":"Led 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1020,"wires":[[]]},{"id":"df77a4162b745929","type":"http request","z":"e01126c5a1cf812f","name":"field2","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field2","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1020,"wires":[["f4372439c9471fd0"]]},{"id":"ad76d9a31efc16d0","type":"http request","z":"e01126c5a1cf812f","name":"field3","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field3","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1080,"wires":[["a4d428be83d1b15e"]]},{"id":"a4d428be83d1b15e","type":"ui_chart","z":"e01126c5a1cf812f","name":"Servo","group":"339d0edc.4ffe02","order":1,"width":0,"height":0,"label":"Servo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1080,"wires":[[]]},{"id":"dba8ba0ea8992e8a","type":"http request","z":"e01126c5a1cf812f","name":"field4","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field4","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1140,"wires":[["90113db4f3680eed"]]},{"id":"90113db4f3680eed","type":"ui_chart","z":"e01126c5a1cf812f","name":"Temp","group":"339d0edc.4ffe02","order":1,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1140,"wires":[[]]},{"id":"af3f7a0586fa7964","type":"http request","z":"e01126c5a1cf812f","name":"field5","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field5","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1200,"wires":[["d6d5cc78d6f98ec9"]]},{"id":"d6d5cc78d6f98ec9","type":"ui_chart","z":"e01126c5a1cf812f","name":"Temp","group":"339d0edc.4ffe02","order":1,"width":0,"height":0,"label":"Humi","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1200,"wires":[[]]},{"id":"a07d36fbed802ced","type":"http request","z":"e01126c5a1cf812f","name":"field6","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field6","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1260,"wires":[["6dca7b0b1c999780"]]},{"id":"6dca7b0b1c999780","type":"ui_chart","z":"e01126c5a1cf812f","name":"Rotaly","group":"339d0edc.4ffe02","order":1,"width":0,"height":0,"label":"Rotaly","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1260,"wires":[[]]},{"id":"69494e65b7d4bc05","type":"http request","z":"e01126c5a1cf812f","name":"field7","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field7","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1320,"wires":[["3da8b1193d03e806"]]},{"id":"3da8b1193d03e806","type":"ui_chart","z":"e01126c5a1cf812f","name":"Moisture","group":"77c1e7b2293abe61","order":1,"width":0,"height":0,"label":"Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":660,"y":1320,"wires":[[]]},{"id":"272a6e5445c9f20f","type":"http request","z":"e01126c5a1cf812f","name":"field8","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field8","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1380,"wires":[["affe2992ccd07e1e"]]},{"id":"affe2992ccd07e1e","type":"ui_chart","z":"e01126c5a1cf812f","name":"Ultrasonic","group":"77c1e7b2293abe61","order":1,"width":0,"height":0,"label":"Ultrasonic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":660,"y":1380,"wires":[[]]},{"id":"f21f2be1e227dfa4","type":"http request","z":"e01126c5a1cf812f","name":"field11","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field11","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1440,"wires":[["409298d75adac57c"]]},{"id":"409298d75adac57c","type":"ui_chart","z":"e01126c5a1cf812f","name":"SW1","group":"77c1e7b2293abe61","order":1,"width":0,"height":0,"label":"SW1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1440,"wires":[[]]},{"id":"d069c63ec28437c4","type":"http request","z":"e01126c5a1cf812f","name":"field12","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field12","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1500,"wires":[["bf3144f4d8c7d9bc"]]},{"id":"bf3144f4d8c7d9bc","type":"ui_chart","z":"e01126c5a1cf812f","name":"SW2","group":"77c1e7b2293abe61","order":1,"width":0,"height":0,"label":"SW2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1500,"wires":[[]]},{"id":"f6bbf5c9a9c2559c","type":"http request","z":"e01126c5a1cf812f","name":"field13","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field13","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1560,"wires":[["27630fc2b3497de0"]]},{"id":"27630fc2b3497de0","type":"ui_chart","z":"e01126c5a1cf812f","name":"Lamp","group":"77c1e7b2293abe61","order":1,"width":0,"height":0,"label":"Lamp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1560,"wires":[[]]},{"id":"0ee4b50eeba286ea","type":"http request","z":"e01126c5a1cf812f","name":"field14","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://phihung.serveo.net/data_value/field14","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":1620,"wires":[["2e3bcc6d0ae6c17b"]]},{"id":"2e3bcc6d0ae6c17b","type":"ui_chart","z":"e01126c5a1cf812f","name":"Siren","group":"77c1e7b2293abe61","order":1,"width":0,"height":0,"label":"Siren","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"300","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":1620,"wires":[[]]}]